@import "variables&functions";



.collaborativeListMain {
        height: 100%;
      width: 30%;
      margin-bottom: 1rem;
      background: #fff;
      border-radius: 8px;
      padding: 1rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
