@import "variables&functions";



.customPinIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000; // Dark green border like the reference
  transition: opacity 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -1em; // Adjust this for the pointer triangle
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-top: 1em solid #000000; 
  }

}

.emoji {
  transition: opactiy 0.3s ease;
  font-size: 0.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -55%);
  user-select: none;
}
