@import "variables&functions";

.main{
position: relative;

   .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      background: rgba( 255, 255, 255, 0.25 );
      border-radius: 1em 1em 0 0;
      border-bottom: 0.2em solid #007bff;
      background-color: white;

      h1{
         font-size: 1.7em;
         font-weight: 700;
         color: #007bff;
         
      }

      button{
         background: none;
         border: none;
         font-size: 1.5em;
        
         cursor: pointer;
      }
   }
.content{
   padding: 1em;
   
   .expandedModalTags{
      margin: 1em 0;
      p{
         display: inline-block;
         background-color: #dff0d8;
         color: white;
         padding: 0.2em 0.5em;
         border-radius: 0.2em;
         font-weight: bold;
         margin-right: 0.5em;
         
      }
      p:nth-child(2){
         color: #3c763d;
      }

   }
   .description{
    font-style: italic;
   color: #666;
   }
}
   

   .footer{
      position: absolute; 
      width: 100%; 
      bottom: 0; 
     
      .carouselcontainer{
         width: 70%;
         margin: auto;
         margin-bottom: 2em;
        }

       
        &> :nth-child(2){
         border-radius: 0 0 1em 1em;
         width: 100%;
         @include flexCustom(space-around, center, row);
         background-color: #007bff;
         svg{
            width: 1.5em;
           height: 1.5em;
          fill: white;
          &:nth-child(3){
            filter: invert(100%);
          }
         }
         & > :nth-child(2){
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content !important; 
            height: 1.5em!important;
            width: 1.5em !important;
            input{
               display: none
            }
         }
        }
        
        
     
   }

   @include absolutecenter;
   z-index: 99;
   height: 35em;
   width: 40em;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 0.7em );
   border-radius: 1em;

 

   img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
   
   }
}

