@import "variables&functions";

.main {
        box-sizing: border-box;

  position: fixed;
  top: -4em;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  transition: top 0.3s;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  

  .hover{
    
    @include flexCenter(row);
    & > div {
        padding: 0.5em 0em;
        @include flexCenter(row);
        width: 50%;
        text-align: center;
    }
    
    h3{
        padding: 0.45em;
        bottom: 0;
        background-color: $webBlue;
        color: white;
        position: absolute;
        @include flexCenter(row);
    }
    svg{
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
    }
    & > div:nth-of-type(1){
        svg{
            transform: rotate(90deg);
        }
        border-radius:  0 0.5em 0  0;
    }
    & > div:nth-of-type(2){
        border-radius:  0 0 0.5em 0;
        background-color: #ccc;
    }
  }

  .content {
    @include flexCenter(row);
    background-color: lightgray;
    height: 4em;

    
  .listItem{
    cursor: pointer;
    background-color: white;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 0.4em;
    color: $webBlue;
    transition: color, background-color 0.3s ease;
  }
    
    h1 {
      font-size: 1.5em;
      color: $webBlue;
      margin: 0;
    }
  }
}
