@import "variables&functions";

.modalWrapper{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: none;
}

.modal {
  position: absolute;
  z-index: 10;
  background-color: #ffffff; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  border-radius: 1em; 
  width: auto;
  padding: 2em; 
  @include flexCenter(column);
  width: 30em;
  animation:  fadeIn 0.3s ease-in-out;

  .close{
    @include closeButtonCorner
  }

  & > :nth-child(1){
    background-color: $webBlue;
    text-align: center;
    width: 100%;
    padding: 0.4em;
    color: white;
  }
  
  i{
    color: white;
    background-color: $webBlue;
    width: 100%;
    text-align: center;

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.button {
  font-size: 1.5em; // Adjusted for better visibility
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 40;
  width: 2.5em; // Adjusted size
  height: 2.5em; // Adjusted size
  border-radius: 50%;
  background-color: $webBlue; // Matching theme
  color: white; // For contrast
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #0056b3;
  }

  p {
    padding-bottom: 0.1em;
    margin: 0;
  }


}

.pac-container {
  z-index: 999999 !important;
}

  

    .form {
      width: 100%;
        margin: 1em;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        background-color: white;
        border-radius: 0.4em;
        border: 2px solid $webBlue;
    
       .visitedRating{
        @include flexCustom(space-between, center, row);
       }

        input,
        select,
        textarea {
            background-color: #f5f5f5;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;

            &:focus {
                border-color: $webBlue;
                outline: none;
            }
        }

        textarea {
            resize: vertical;
        }

        label {
            display: flex;
            gap: 0.5rem;

            input[type="checkbox"] {
                accent-color: $webBlue;
            }
        }

        button {
            padding: 0.5rem 1rem;
            background-color: $webBlue;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            width: 100%;
            transition: background-color 0.2s;
            &:hover {
                background-color: #0056b3;
            }
        }
        .clearbutton{
          background-color: $red !important;
        }

        .formButtons{
          @include flexCenter(row);
          gap: 1em;
        }
    
      
      }
      

    .imageModal {
      width: 100%;
      max-height: 90vh; // Limit max height to ensure scrolling
      overflow-y: auto; // Enable vertical scrolling
      margin-top: 10vw;
      padding-bottom: 5vw;
    
      

      .imageDiv{
       
        width: 100%;
        height: fit-content;
        margin-top: 2em;
        @include flexCenter(column);
        div{
          @include flexCenter(row);
          width: 70%;
        }
      }
    
      img {
        width: 70%!important;
        height: auto!important;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    
      button, a {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $webBlue;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s;
    
        &:hover {
          background-color: #0056b3;
        }
    
        &:last-child {
          margin-right: 0;
        }
      }
    }


    .pac-container {
      z-index: 999999 !important;
    }
    






    .imageModalFullScreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw; 
      height: 100vh; 
      background-color: rgba(0, 0, 0, 0.8); 
      @include flexCenter(column);
      z-index: 1050;

      button{
        @include button;
        z-index: 1051;
        color: red;
        font-size: 1.6em;
        padding: 0.4em;
      }
    
      .FSmodal {
        width: 90vw;
        height: 80vh; 
        display: flex;
        justify-content: center;
        align-items: center;
    
        .carousel {
          display: flex;
          width: 100%; 
          height: 100%; 

          li{
            display: flex;
          }
          img {
            align-self: center;
            margin: auto;
            max-width: 80%; 
            max-height: 80%; 
            object-fit: contain;
          }
        }
      }
    }
    

    @media (max-width: 425px) {
     .button{
      display: none;
     }
    
    }