@import "variables&functions";

.modal{
position: absolute;
z-index: 99999;
background-color: red;
height: 15em;
width: 25em;

}

.button{
    font-size: 4em;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    p{
        margin-bottom: 0.1em;
    }
}