@import "variables&functions";


.svg{
    width: 4em;
    height: 4em;
    fill: red;
}

.centerButton{
    @include absolutecenter;
    bottom: 0;
    margin-bottom: 2em;
    @include button;
    background-color: $webBlue;
    color: white;
    font-size: 1em;
    padding: 0.6em;
  }