@import "variables&functions";

.main{
    @include flexCustom(flex-start, center, column);
    
    h3{
        color: $webBlue;
        margin: 0.5em 0
    }

    &>:nth-child(2){
        width: 100%;
        @include flexCustom(flex-start, center, row);
        div{
           border-right: solid black 1px; 
           width: 70%;
           
        }
        div:not(:first-child){
          text-align: center;
          width: 30%;
          border: none;
          justify-content: center;
        }
        
    }

    .iconBar{
        width: 100%;
        @include flexCustom(space-around, center, row);
        background-color: $webBlue;
        svg{
           width: 1.5em;
           height: 1.5em;
          fill: white;
         
        }
    }
    .uploadContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content !important; 
        height: 1.5em!important;
        width: 1.5em !important;
      }
      
      .hiddenFileInput {
        display: none;
      }
      
      
     
        
        &:hover {
          background-color: #e0e0e0; /* Adjust hover background color as needed */
        }
      
        svg {
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          fill: #000; /* Adjust SVG color as needed */
        }

    
      
}
