@import "variables&functions";

.main{
    @include flexCustom(space-between, flex-start, row);
   width: 35vw;
   position: absolute;
   z-index: 2;
   left: -32vw;
    height: 100vh;
    transition: left 0.5s;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.7em );
    border-radius: 10px;

  
    div:nth-child(2){
        width: 100%;
    }

    .rotated {
        transform: rotate(180deg);
        transition: transform 1s ease-in-out; // Adjust timing and easing as needed
      }

    .rightExtender{
        height: inherit;
        min-width: 3vw;
        background-color: white;
        div:nth-child(2){
            background-color: lightgrey;
        }
        div{
        cursor: pointer;
        height: 50%;
        @include flexCenter(row);
        
        svg{
            cursor: pointer;
            width: 1.5em;
            height: 1.5em;
        }
      }
    }


}
.categories {
    .addCategoryBtn{
        background-color: black;
        color: white;
        text-align: center;
        white-space: wrap;
        &:hover{
            background-color:white;
            color: black;
        }
    }
    overflow-x: hidden;
    text-align: center;
    overflow-y: scroll;
    width: 40% !important;
    height: 100%;

    /* Custom scrollbar styles */
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $webBlue;
    }

    div {
        
        border-top: 2px solid black; 
        cursor: pointer;
        background-color: #f0f0f0; // Light grey for a subtle look
        padding: 0.5em;
        font-size: 1.5em;
        color: #333; // Dark grey for text, enhancing readability
        transition: background-color 0.3s, color 0.3s; // Smooth transition for hover effect
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: $webBlue; // A pleasant blue for hover
             // White text for contrast
        }
    }

    .active-category {
        background-color: #002d62; // A deeper blue for the active category
        color: #ffffff;
    }
}
.pinItems{
    overflow-y: scroll;
    height: 100%;
    background-color: rgb(247,247,247);
    scrollbar-width: thin;
    scrollbar-color: $webBlue rgb(247,247,247);
}


.unNvisitedButtons{
    @include flexCustom(space-around, center, row);
    background-color: $webBlue;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.5em;

    button{
       
        @include button;
        background-color: white;
        color:  $webBlue;
        width: 40%;
        font-size: 1em;

    }

    

    
}



.searchBar {
    display: flex;
    width: 95%;
    margin: auto; 
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.3em;
    border: 1px solid $webBlue; 
    outline: none;
    color: $webBlue;
    transition: border-color 0.3s;

    &:focus {
        border-color: darken($webBlue, 10%);
    }
}



